<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.tattu.hola">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".ui.HolaLaNacionApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">

        </activity>

        <service android:name=".service.SpeechRecognizerService" />

        <activity
            android:name=".ui.SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity2">

        </activity>
        <activity
            android:name=".ui.CategoryActivity"
            android:noHistory="true">

        </activity>
        <activity android:name=".ui.NewsDetailActivity" />

    </application>

</manifest>
